@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css);



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    background: radial-gradient(#fff, #fff, #fff, #eeddcf)
}

.header .row {
    margin-top: 70px;
}

body {
    background: white;
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}


/* searchbar */

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 70%;
    border: 3px solid #dcba9e;
    border-right: none;
    padding: 15px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #877261;
}

.searchTerm:focus {
    color: #877261;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #dcba9e;
    background: #dcba9e;
    text-align: center;
    color: #322a24;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.wrap {
    width: 40%;
    position: absolute;
    top: 25%;
    left: 44%;
    transform: translate(-20%, -50%);

}

/* end of searchbar */

/* navegation bar */

ul {
    list-style-type: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: #000;
}

.navbar {
    padding: 20px;
}

.navbar,
.main-nav,
.ul2 {
    display: flex;
    flex-direction: row;
}

.navbar ul li {
    padding: 0 5px;

}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.col-2 {
    flex-wrap: wrap;
    min-width: 400px;
}

.col-2 img {
    flex-wrap: wrap;
    width: 50em;
    max-width: 800px;
    padding: 4em 5em;
    margin-right: 5em;
    border-radius: 10em;

}

.col-2 h1 {
    flex-basis: 50px;
    font-size: 40px;
    line-height: 60px;
}

.col-2 h1,
.col-2 p,
.col-2 .btn {
    margin: 25px 15px 10px 50px;
}


.btn {
    display: inline-block;
    background: #dcba9e;
    color: #322a24;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    font-style: oblique;
    font-weight: bold;
    transition: background 03s;
}

.btn:hover {
    background: #9ec0dc;
    transition-duration: 0.5s;
}

.searchButton {
    transition: background 03s;
}

.searchButton:hover {
    background: #fff;
    transition-duration: 0.5s;
}

.products {
    text-align: left;
    display: inline-block;
}

.imgshoppingcart {
    position: relative;
    bottom: 0.3em;

}

.nav-links {
    transition: background 01s;
    border-radius: 3px;
}

.nav-links:hover {
    background: #dcba9e;
    border-radius: 3px;
    transition-duration: 0.5s;
}

/* end of navegatio bar */

/* product columns grid container */

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 50px;
}

.grid-item {
    padding: 5px;

}

.grid-item h1 {
    text-align: center;
    /* text-decoration: none; */
    transition: background 01s;
    border-radius: 3px;
}

.grid-item h1:hover{
    background: #dcba9e;
    color: #dcba9e;
    border-radius: 10px;
    transition-duration: 0.5s;
}

a {
text-decoration: none; 
color: #322a24;
}

.grid-container img {
    position: relative;
    width: 20em;
    height: 20em;
    top: 0;
    transition: top ease 1s;
    opacity: 1;
    display: block;
    backface-visibility: hidden;
    opacity: 1;
    margin: 30px;
}


.grid-container img:hover {
    top: -10px;
    opacity: 0.3;

}

/* .container {
    position: relative;
    width: 50%;
} */

.middletext {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.container:hover .middletext {
    opacity: 1;
}

.text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}


/* END of product columns grid container */

/* footer */

.footer {
    background: rgb(255, 255, 255);
    color: #000000;
    font-size: 14px;
    padding: 10px 0 5px;
    background: radial-gradient(#fff, #fff, #fff, #eeddcf)
}

.footer p {
    color: #241d18;

}

.footer h3 {
    color: #877261;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-logo,
.footer-col-2 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 12%;
    text-align: center;

}

.footer-logo {
    flex: 1;
    padding-left: 22%;
}

.footer-col-2 ul {
    flex-basis: 12%;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.footer-col-2 li {
    float: left;
    padding-left: 15;
}

.footer-col-2 h3 {
    text-align: center;
    padding-right: 50px;
    padding-bottom: 30px;
}

.footer-col-2 img {
    padding-bottom: 0px;
}

.footer hr {
    border-width: 1px;

}

.copyright {
    text-align: center;
}


.menubtn {

    width: 28px;
    margin-left: 20px;
    display: block;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {

    .main-nav {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100px;
    }

    .navbar ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

}

/* #topbtn {  
    position: fixed;
    bottom: 10px;
    float: right;
    right: 20.5%;
    left: 77.25%;
    max-width: 90px;
    width: 100%;
    font-size: 12px;
    border-color: rgba(5, 82, 248);
    background-color: rgb(5, 82, 248);
    padding: .5px;
    border-radius: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#topbtn:hover {
    background-color: #fafafa;
} */


.myButton {
    box-shadow: inset 0px 0px 0px -3px #000000;
    background-color: #0d0b09;
    border-radius: 42px;
    display: inline-block cursor:pointer;
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    padding: 17px 22px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    float: right;

}

.myButton:hover {
    background-color: ivory;
    color: black;

}

.myButton:active {
    position: relative;
    top: 1px;
}

/* style products */


.title{
    text-align: center;
    padding-top: 50px;

}

.small-container{ 
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
   
} 


.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}

.col-4 img{
    width: 100%;
}

/* end of style products */


