@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.header {
    background: radial-gradient(#fff, #fff, #fff, #eeddcf)
}

.header .row {
    margin-top: 70px;
}

body {
    background: white;
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    overflow-x: hidden;
}


/* searchbar */

/* .search {
    width: 100%;
    position: relative;
    display: flex;
    margin-left: 12%;
} */

/* .searchTerm {
    width: 70%;
    border: 3px solid #dcba9e;
    border-right: none;
    padding: 15px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #877261;
} */

.searchTerm:focus {
    color: #877261;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #dcba9e;
    background: #dcba9e;
    text-align: center;
    color: #322a24;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/* .wrap {
    width: 40%;
    position: absolute;
    top: 25%;
    left: 44%;
    transform: translate(-20%, -50%);

} */

/* end of searchbar */

/* navegation bar */

ul {
    list-style-type: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: #000;
}
/* 
.navbar {
    padding: 20px;
} */

/* .navbar,
.main-nav,
.ul2 {
    display: flex;
    flex-direction: row;
    flex-basis: 30%;
   

} */


/* 
.navbar ul li {
    padding: 0 5px;

}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.col-2 {
    flex-wrap: wrap;
    min-width: 400px;
}

.col-2 h1 {
    flex-basis: 50px;
    font-size: 40px;
    line-height: 60px;
}

.col-2 h1,
.col-2 p,
.col-2 .btn {
    margin: 25px 15px 10px 50px;
}
 */

/* .btn {
    display: inline-block;
    background: #dcba9e;
    color: #322a24;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    font-style: oblique;
    font-weight: bold;
    transition: background 03s;
} */

.btn:hover {
    background: #9ec0dc;
    transition-duration: 0.5s;
}

.searchButton {
    transition: background 03s;
}

.searchButton:hover {
    background: #fff;
    transition-duration: 0.5s;
}

.products {
    text-align: left;
    display: inline-block;
}

.imgshoppingcart {
    position: relative;
    bottom: 0.3em;

}

.nav-links {
    transition: background 01s;
    border-radius: 3px;
}

.nav-links:hover {
    background: #dcba9e;
    border-radius: 3px;
    transition-duration: 0.5s;
}

/* end of navegation bar */

/* product columns grid container */

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 50px;
}

.grid-item {
    padding: 5px;

}

.grid-item h1 {
    text-align: center;
    /* text-decoration: none; */
    transition: background 01s;
    border-radius: 3px;
}

.grid-item h1:hover {
    background: #dcba9e;
    color: #dcba9e;
    border-radius: 10px;
    transition-duration: 0.5s;
}

a {
    text-decoration: none;
    color: #322a24;
}

.grid-container img {
    position: relative;
    width: 20em;
    height: 20em;
    top: 0;
    transition: top ease 1s;
    opacity: 1;
    display: block;
    backface-visibility: hidden;
    opacity: 1;
    margin: 30px;
}


.grid-container img:hover {
    top: -10px;
    opacity: 0.3;

}

/* .container {
    position: relative;
    width: 50%;
} */
/*
.middletext {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
} */

/*
.container:hover .middletext {
    opacity: 1;
} */

/* .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
} */


/* END of product columns grid container */

/* footer */

.footer {
    background: rgb(255, 255, 255);
    color: #000000;
    font-size: 14px;
    padding: 10px 0 5px;
    background: radial-gradient(#fff, #fff, #fff, #eeddcf)
}

.footer p {
    color: #241d18;

}

.footer h3 {
    color: #877261;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-logo,
.footer-col-2 {
    min-width: 250px;
    margin-bottom: 20px;

}

.footer-col-1 {
    flex-basis: 12%;
    text-align: center;

}

.footer-logo {
    flex: 1;
    padding-left: 22%;
}

.footer-col-2 ul {
    flex-basis: 12%;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.footer-col-2 li {
    float: left;
    padding-left: 15;

}

.footer-col-2 h3 {
    text-align: center;
    padding-right: 50px;
}

.footer hr {
    border-width: 1px;

}

.copyright {
    text-align: center;
}


.menubtn {

    width: 28px;
    margin-left: 20px;
    display: block;
    cursor: pointer;
}



/* #topbtn {
    position: fixed;
    bottom: 10px;
    float: right;
    right: 20.5%;
    left: 77.25%;
    max-width: 90px;
    width: 100%;
    font-size: 12px;
    border-color: rgba(5, 82, 248);
    background-color: rgb(5, 82, 248);
    padding: .5px;
    border-radius: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#topbtn:hover {
    background-color: #fafafa;
} */


.myButton {
    box-shadow: inset 0px 0px 0px -3px #000000;
    background-color: #0d0b09;
    border-radius: 42px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    padding: 17px 22px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    float: right;

}

.myButton:hover {
    background-color: ivory;
    color: black;

}

.myButton:active {
    position: relative;
    top: 1px;
}

/* style products */


.title {
    text-align: center;
    padding-top: 50px;

}


.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}


.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}

.col-4 img {
    width: 100%;
}

.col-6 img {
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.rating-col-6 {
    margin-left: 46%;
}

.col-6 p {
    margin-bottom: 5%;
    margin-left: 48%;
}


/* end of style products */


/* shipping table style */

table.shippingTable {

    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border: 2px solid #322A24;
    background-color: #FFEAD4;
    width: 60%;
    text-align: center;
    margin-left: 250px;
    margin-top: 100px;
    margin-bottom: 100px;

}

table.shippingTable td,
table.shippingTable th {
    border: 1px solid #948473;
    padding: 15px 10px;
}

table.shippingTable tbody td {
    font-size: 13px;
}

table.shippingTable thead {
    background: #948473;
}

table.shippingTable thead th {
    font-size: 17px;
    font-weight: bold;
    color: #322A24;
    text-align: center;
    border-left: 2px solid #948473;
}

table.shippingTable thead th:first-child {
    border-left: none;
}


h4 {
    text-align: center;
    margin-bottom: 20px;
}

/* End of shipping table style */

/* account form */


.accountform {
    padding-bottom: 05%;
}

/* end of account form */



/* contact form */


.contact-form {
    margin-left: 40%;
    margin-bottom: 10%;
}

.pages-h2 {
    margin-left: 40%;
    margin-bottom: 2%;
    margin-top: 2%;
}


/* end of contact form */

/* FAQ style */


.faq {
    margin-left: 10%;
    margin-bottom: 05%;
}

.faq .title {
    margin-bottom: 5%;
}

.faq-2 h5 {
    text-align: center;
    margin-bottom: 2%;
    margin-right: 5%;
}

.faq-2 h3 {
    text-align: center;
}

/* end of FAQ style */

/* about part */

.about-log h5 {
    margin-bottom: 5%;
}


/* end of about part */



/* privacy policy part */

.policy-log h5 {
    margin-bottom: 5%;

}

/* End of privacy policy part */

.keyboard-table h1 {
    margin: 20px;
    text-align: center;
}

#keyboards {
    align-content: center;
    margin: auto;
}

table#keyboards td,
table#keyboards th {
    border: 1px solid #948473;
    padding: 15px 10px;
}

table#keyboards tbody td {
    font-size: 13px;
    border: 1px solid #948473;
}

table#keyboards thead {
    background: #948473;
    border: 1px solid #948473;
}

table#keyboards th {
    background: #dcba9e;
    border: 1px solid #322A24;
}

.dev-options-container {
    display: flex;
    justify-content: center;
    margin: auto
}



.dev-buttons-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10em;
}

.dev-buttons {
    margin-top: 50px;
    margin-bottom: 10em;
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
    background-color: #eae0c2;
    border-radius: 15px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.dev-buttons:hover {
    background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
    background-color: #ccc2a6;
}

.dev-buttons:active {
    position: relative;
    top: 1px;
}


/* searchbar */

.search-dev {
    display: flex;
    justify-content: center;
    margin-top: 5em;
    margin-bottom: 5em;
}

/* end of searchbar */

.add-container {
    flex-direction: column;
    width: 10%;
    margin-left: 38em;
    margin-top: 5em;
    margin-bottom: 5em;
}

.add-product-button {
    box-shadow: inset 0px 19px 0px -15px #b54b3a;
    background-color: #a73f2d;
    border-radius: 42px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 20px 4px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #7a2a1d;
}

.add-product-button:hover {
    background-color: #b34332;
}

.add-product-button:active {
    position: relative;
    top: 1px;
}

.edit-container {
    width: 10%;
    margin-left: 38em;
    margin-top: 5em;
    margin-bottom: 5em;
}

.dropdown {
    margin: 10px 10px 10px 10px;
}





/* Full-width input fields */
/* .login-container input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  /* Set a style for all buttons */
/* .form-btn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .form-btn:hover {
    opacity: 0.8;
  }

   */
/* Center the image and position the close button */
/* .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;

  }

  img.avatar {
    width: 40%;
    border-radius: 50%;
  }


  span.psw {
    float: right;
    padding-top: 16px;
  }


  .login-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;

  }


  .auth-container{
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      justify-content:space-around;
      align-items: center;

  }


  .sign-container{

width: 50%;
height: 50%;
  }

  .login-container{

width: 50%;
height: 50%;
  }



 */


.auth-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;

}




.login-container {
    background: #eee;
    border-radius: 5px;
    box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
    width: 450px;
    display: flex;
    flex-direction: column;
}

.logo {
    font-family: "museo-slab";
    font-size: 20px;
    text-align: center;
    padding: 20px 20px 0;
    margin: 0;
}

.login-item {
    color: #ffff;
    padding: 25px 25px 0;
    margin: 20px 20px 0;
    border-radius: 3px;
}

.input-item {
    border: 0;
    color: white;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.user:before {
    content: '\f007';
    font: 14px fontawesome;
    color: #dcba9e;
}

.lock:before {
    content: '\f023';
    font: 14px fontawesome;
    color: #dcba9e;
}

.form input[type="password"],
.form input[type="text"],
.form input[type="submit"],
.form input[type="email"] {
    width: 100%;
}

.form-login label,
.form-login input[type="text"],
.form-login input[type="password"],
.form-login input[type="submit"],
.form-login input[type="email"] {
    border-radius: 0.25rem;
    padding: 1rem;
    color: #3A3F44;
}

.form-login label {
    background-color: #222222;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.form-login input[type="text"],
.form-login input[type="password"],
.form-login input[type="email"] {
    background-color: #ffffff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.form-login input[type="submit"] {
    background-color: #00B9BC;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
}

.form-login input[type="submit"]:focus,
.form-login input[type="submit"]:hover {
    background-color: #dcba9e;
}

.form-field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
}


/* .hidden {
    display: none;
} */

.text--center {
    text-align: center;
}


.icon-log-reg {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-self: center;

}


.log-reg-text {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 2rem;
    margin: 10px;

}

.center-account-text {
    text-align: center;
}


/* Boring button styles */
.options-data {
    /* Frame */
    display: flex;
    padding: 20px 28px;
    border-radius: 50px;
    box-sizing: border-box;

    /* Style */
    border: none;
    background: #dcba9e;
    color: black;
    font-size: 15px;
    cursor: pointer;
    margin: 10px 10px;
    align-items: center;
    text-align: center;
}

/*the container must be positioned relative:*/

.custom-select {
    display: flex;
    justify-content: center;
    aline-items: center;
    flex-direction: column;
    text-align: center;
    width:200px;
}

.h2-users {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px 10px;
}

.users-container {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}



#confirm,
#cancel {
    width: 3.5rem;
    height: 1.5rem;
}


.col-2 img{
width:60%;
border-radius:50px;
}
